html,
body {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-links-ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-link {
  padding: 0.4rem;
  border-radius: 2px;
  cursor: pointer;
}

.header-link:hover {
  border-bottom: 1px solid white;
}

main {
  padding: 2rem;
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode header {
  background-color: #1e1e1e;
}

.dark-mode .header-link:hover {
  border-bottom: 1px solid #ffffff;
}

.grid3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  aspect-ratio: 1;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail.loaded {
  opacity: 1;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal:not(.hidden) {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
