<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <%- include('partials/navbar') %>

      <div class="container mt-5">
        <div class="hero text-center my-5 py-5">
          <h1 class="display-4">Mikołaj Kubś</h1>
          <p class="lead">Software Engineer • Game Developer • Data Analyst</p>
          <p>
            I build immersive games, crunch data, and automate complex tasks.
          </p>
          <br />
          <a href="#projects" class="projects-btn">View My Projects</a>
        </div>

        <div id="about" class="my-1">
          <h2>About me</h2>
          <p>
            Hi, my name is Mikołaj Kubś and I'm a software engineer with
            experience in many fields of programming. I'm most experienced in
            Game Development, Data Analysis and Script Automation.
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <img
              src="https://github-readme-stats.vercel.app/api/top-langs/?username=lmProgramming&hide=jupyter%20notebook&layout=compact&theme=transparent&langs_count=6"
              alt="GitHub Stats showing top programming languages"
            />
          </div>
        </div>

        <div id="experience" class="my-5">
          <h2>Professional Experience</h2>

          <div class="job my-4">
            <h4>Freelance, Debunk.org</h4>
            <p>
              <a href="https://www.python.org/" target="_blank">
                <img
                  src="https://img.icons8.com/color/24/000000/python.png"
                  alt="Python"
                />
                Python
              </a>
              - 8.2024 - 9.2024
            </p>
            <p>
              Developed a Word document parser that extracted and structured
              data before transmitting it via API to
              <a href="https://www.opencti.io/" target="_blank">OpenCTI</a>.
              Implemented robust error detection and correction mechanisms to
              ensure data integrity. Delivered a fully functional,
              well-structured solution following solid object-oriented
              programming principles. Script processed over 1000 reports and
              saved hundreds of hours of manual work.
            </p>
          </div>

          <div class="job my-4">
            <h4>Junior Unity Developer, Ten Square Games</h4>
            <p>
              <a href="https://unity.com/" target="_blank">
                <img
                  src="https://img.icons8.com/?size=36&id=xPl4HeknrW07&format=png&color=000000"
                  alt="Unity"
                />
                Unity </a
              >,
              <a
                href="https://learn.microsoft.com/en-us/dotnet/csharp/"
                target="_blank"
              >
                <img
                  src="https://img.icons8.com/color/36/000000/c-sharp-logo.png"
                  alt="C#"
                />
                C# </a
              >,
              <a href="https://git-scm.com/" target="_blank">
                <img
                  src="https://img.icons8.com/color/36/000000/git.png"
                  alt="Git"
                />
                Git
              </a>
              - 7.2024 - 9.2024
            </p>
            <p>
              Interned as a Unity Developer, focusing on improving the in-game
              shop. Migrated an offer system to MVVM-C architecture. Designed
              and implemented five A/B test variants with unique animations, UI
              layouts, and a special currency. One variant outperformed the
              original. Worked within CI/CD pipelines, using Git and code
              reviews to maintain high code quality. Fixed various bugs. Hybrid
              - 3 days/week onsite.
            </p>
          </div>

          <div class="job my-4">
            <h4>Power Platform Developer, Schaeffler</h4>
            <p>
              <a href="https://powerbi.microsoft.com/" target="_blank">
                <img
                  src="https://img.icons8.com/color/36/000000/power-bi.png"
                  alt="Power BI"
                />
                Power BI </a
              >,
              <a href="https://powerapps.microsoft.com/" target="_blank">
                <img
                  src="https://img.icons8.com/?size=36&id=dFQ55kLSmeny&format=png&color=000000"
                  alt="Power Apps"
                />
                Power Apps </a
              >,
              <a href="https://www.python.org/" target="_blank">
                <img
                  src="https://img.icons8.com/color/36/000000/python.png"
                  alt="Python"
                />
                Python </a
              >,
              <a
                class="tool-img"
                href="https://learn.microsoft.com/en-us/office/vba/library-reference/concepts/getting-started-with-vba-in-office"
                target="_blank"
              >
                <img
                  src="https://img.icons8.com/?size=36&id=117561&format=png&color=000000"
                  alt="VBA"
                />
                VBA
              </a>
              - 10.2023 - 5.2024
            </p>
            <p>
              Developed Power BI reports, KPIs, and data quality tools for
              e-mobility projects across Germany and Poland. Designed and scaled
              a Power Apps application for project data onboarding. Automated
              legacy VBA projects and optimized data transformation processes
              using Python and Power Query. Worked cross-functionally. Hybrid -
              1 day/week onsite.
            </p>
          </div>
        </div>

        <div id="education" class="my-5">
          <h2>Education</h2>
          <div class="edu my-4">
            <h4>Applied Informatics - Politechnika Wrocławska (PWr)</h4>
            <p>Bachelor in Science, 2022 - 2026 (expected).</p>
            <p>Current GPA: 4.8/5.5</p>
            <p>
              Member of Solvro Science Club since 11.2024. Collaborated in a
              team to create software for a 3D LED Cube. Worked with React app
              to improve code user experience in code writing (programming led
              cube animations).
            </p>
          </div>
        </div>

        <div id="projects" class="my-5">
          <h2>Projects</h2>
          <div class="gallery-container">
            <button class="gallery-arrow left-arrow" onclick="moveGallery(-1)">
              &#10094;
            </button>
            <div class="gallery">
              <div class="gallery-item">
                <img
                  class="project-image"
                  src="/images/cell.webp"
                  alt="Screenshot of Cell Evolution logo"
                />
                <div class="project-info">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.LMProgramming.CellEvolution"
                    target="_blank"
                    >Cell Evolution</a
                  >
                  <p class="project-description">
                    An idle/incremental game about evolving single-celled
                    organisms. Manage resources and unlock new evolutionary
                    paths.
                  </p>
                </div>
              </div>

              <div class="gallery-item">
                <img
                  class="project-image"
                  src="/images/ant2.webp"
                  alt="Screenshot of Ants Simulator 2 logo"
                />
                <div class="project-info">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.LMProgramming.AntsSimulator2TotalWar"
                    target="_blank"
                    >Ants Simulator 2 - Total War</a
                  >
                  <p class="project-description">
                    Watch ants build colonies, gather resources, and wage war
                    against other insect factions in this simulation/sandbox
                    game. One of my biggest Unity projects with complex
                    simulation and pheromone pathfinding. I had to solve many
                    interesting problems to arrive at the finished product.
                    <a
                      href="https://github.com/lmProgramming/Ants-2"
                      target="_blank"
                      >GitHub repository</a
                    >
                  </p>
                </div>
              </div>

              <div class="gallery-item">
                <img
                  class="project-image"
                  src="/images/tetris.webp"
                  alt="Screenshot of Physical Blocks logo"
                />
                <div class="project-info">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.LMProgramming.NotQuiteTetris"
                    target="_blank"
                    >Physical Blocks</a
                  >
                  <p class="project-description">
                    Tetris, but no longer on a grid! Blocks can rotate and move
                    smoothly. Using SpriteSlicer lines can be cleared, slicing
                    blocks into many parts. An interesting problem was with
                    determining if a line is filled. Two approaches were used:
                    many raycasts and using a math library to determine fill
                    mathematically.
                  </p>
                </div>
              </div>

              <div class="gallery-item">
                <img
                  class="project-image"
                  src="/images/go.png"
                  alt="Logo or screenshot of GoLocal project"
                />
                <div class="project-info">
                  <a
                    href="https://github.com/lmProgramming/project-go-local"
                    target="_blank"
                    >GoLocal</a
                  >
                  <p class="project-description">
                    One repository containing both backend (Go) and frontend
                    (Flutter) for a social media application focused on events.
                    Utilizes clean code on both frontend (Bloc architecture) and
                    backends (microservices and layer architecture), along with
                    many design patterns. Includes tests (CI/CD) and
                    containerization with Docker. I worked in a team along with
                    2 other students.
                  </p>
                </div>
              </div>
            </div>
            <button class="gallery-arrow right-arrow" onclick="moveGallery(1)">
              &#10095;
            </button>
          </div>
        </div>

        <div id="contact" class="my-5">
          <h2>Contact</h2>
          <p>Contact me using a <a href="/contact">contact form</a>.</p>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
