html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #22272B;
  color: #B6C2CF;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #101204;
  text-align: center;
}

.navbar .nav-link {
  color: #B6C2CF;
}

.navbar .nav-link:hover {
  color: #ffffff;
}

.navbar-brand {
  color: #B6C2CF;
}

.navbar-brand:hover {
  color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.main {
  padding: 20px;
  background: #DBCEB6;
  margin-top: 20px;
}

.page-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.site-footer {
  background-color: #101204;
  color: #B6C2CF;
  text-align: center;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.game-logo {
  width: 50px;
  height: 50px;
}

.tool-img img {
  display: inline-block;
}

.tool-img img:not([src]):not([srcset]),
.tool-img img[src=""],
.tool-img img[src="broken-link"] {
  display: none;
}